<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/assets/css/contact.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid gap-3">
            <a class="navbar-brand ms-4" href="#">
                <img src="/assets/image/dw.png" style="height: 40px;">
            </a>
            <!-- toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addmyproject">Add Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonial</a>
                    </li>
                </ul>
                <a href="/contact">
                    <button class="btn btn-primary me-4" id="btn-nav" type="submit">Contact Me</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- Isi Content -->
    <div class="d-flex justify-content-center">
        <form class="form-ct mt-5">
            <h2 class="mb-3"> GET IN TOUCH</h2>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" id="inputName" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmail">
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="inputNumber">
            </div>
            <div class="mb-3">
                <label class="form-label">Subject</label>
                <select class="form-select" id="inputSubject" aria-label="Example select with button addon">
                    <option></option>
                    <option>Frontend Developer</option>
                    <option>Backend Developer</option>
                    <option>Fullstack Developer</option>
                </select>
            </div>
            <div class="mb-5">
                <label class="form-label">Your Message</label>
                <textarea class="form-control" id="inputMessage" aria-label="With textarea"></textarea>
            </div>
            <div class="mb-3" id="btn-ct">
                <button type="submit" class="btn btn-primary" onclick="submitContact()">Submit</button>
            </div>
        </form>

    </div>
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>